body{
font-size: 30px;
color: blue;
background-size: cover;
}
.box{
width: 900px;
float: right;
border: 1px solid none;
}

.box ul li{
width: 140px;
float: left;
margin: 10px auto;
text-align: center;
}

.sectionmain
.sectionmain a
.sectionmain a:hover
.sectionmain img{
    position: fixed;
    z-index: -1;
    top: 0px; left: 0px; width: 100%; height: 100vh;
    opacity: 0.8;
    transition: all ease 0.5s;
}

.sm {
    width: 100px;
    height: 400px;
    background-color: black;
    opacity: 0.6;
    padding: 48px;
}

.sm h1{
text-align: center;
text-transform: uppercase;
font-weight: 300px;
}

.sm h2{
text-align: center;
text-transform: uppercase;
font-weight: normal;
margin: 500px;
}
.sm h4{
    text-align: justify;
    color:darkgray;
    font-weight: 100;
}

.chk form , input[type="button"]{
    background-color: black;
    color: white;
    margin: -16px auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 18px;
}

form, input[type="button"]{

    animation: glowing 200ms infinite;
}
@keyframes glowing {

  0%  {
background-color: red;
    }
 50% {
background-color: orange;
    }
100% {
background-color: blue;
    }
}
